<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zsamir.movieappintership">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".MovieAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Movies.MoviesActivity"
            android:label="@string/movies_label"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Movies.MovieDetailsActivity"
            android:label="@string/movies_label"
            android:parentActivityName=".Movies.MoviesActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.Movies.MoviesActivity" />
        </activity>
        <activity
            android:name=".Common.ActorProfileActivity"
            android:label="@string/actor_activity_label"
            android:parentActivityName=".Movies.MovieDetailsActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.Movies.MovieDetailsActivity" />
        </activity>
        <activity
            android:name=".Common.GalleryActivity"
            android:label="@string/movies_label"
            android:parentActivityName=".TVSeries.TVSeriesActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.TVSeriesActivity" />
        </activity>
        <activity
            android:name=".Common.ImageDetailsActivity"
            android:parentActivityName=".TVSeries.TVSeriesActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.TVSeriesActivity" />
        </activity>
        <activity
            android:name=".TVSeries.TVSeriesActivity"
            android:label="@string/tv_series_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TVSeries.TVSeriesDetailsActivity"
            android:label="@string/tv_series_name"
            android:parentActivityName=".TVSeries.TVSeriesActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.TVSeriesActivity" />
        </activity>
        <activity
            android:name=".TVSeries.SeasonActivity"
            android:parentActivityName=".TVSeries.TVSeriesDetailsActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.TVSeriesDetailsActivity" />
        </activity>
        <activity
            android:name=".Common.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsFeed.NewsFeedActivity"
            android:label="@string/news_feed_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7441d02155685acc10fd1c60286364bb5d941e54" />

        <activity
            android:name=".TVSeries.EpisodeActivity"
            android:parentActivityName=".TVSeries.SeasonActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.SeasonActivity" />
        </activity>
        <activity
            android:name=".Common.SearchActivity"
            android:label="@string/search_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.SeasonActivity" />
        </activity>
        <activity
            android:name=".Common.TrailerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.SeasonActivity" />
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/login_label"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.NewsFeed.NewsFeedActivity" />
        </activity>
        <activity
            android:name=".Common.UserListsActivity"
            android:label="@string/title_activity_favorites"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.NewsFeed.NewsFeedActivity" />
        </activity>
        <activity
            android:name=".Common.RatingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.NewsFeed.NewsFeedActivity" />
        </activity>
        <activity
            android:name=".Common.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zsamir.movieappintership.TVSeries.TVSeriesDetailsActivity" />
        </activity>

        <receiver
            android:name=".AlertReceivers.MovieAlertReceiver"
            android:process=":remote" />
        <receiver
            android:name=".AlertReceivers.TVAlertReceiver"
            android:process=":remote" />

        <activity android:name=".AlertReceivers.UpcomingMovieActivity" >

            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.zsamir.movieappintership.TVSeries.TVSeriesActivity" />
        </activity>
        <activity android:name=".AlertReceivers.AiringEpisodesActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.zsamir.movieappintership.TVSeries.TVSeriesActivity" />
        </activity>
    </application>

</manifest>